.whatsapp_button {
  position: fixed;
  z-index: 99;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: linear-gradient(
    60deg,
    #e5ffcc,
    #1ebea5,
    #00e676,
    #d0e9ea,
    #edf8f5,
    #ffffff
  );
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(163, 163, 163, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(163, 163, 163, 1);
  box-shadow: 0px 0px 3px 0px rgba(163, 163, 163, 1);
  transition: 0.61s ease box-shadow;
  svg {
    width: 32px;
    height: 32px;
  }
  &:hover {
    box-shadow: none;
    transition: box-shadow 0.52s ease;
  }
}
