.program-block {
    svg {
        width: 100%;
        height: auto;
        display: none;
        @media (max-width: 600px) {
            display: block;
        }
    }
    @media (max-width: 600px) {
        .fw-bold {
            width: 60%;
        }
        .time {
            align-self: center;
        }
    }
}